{% load static %}
<html>
<head>
    <title>Desktop Records</title>
    <link rel="stylesheet" type="text/css" href={% static 'estilos.css'%} /> 
    <link rel="stylesheet" type="text/css" href={% static 'bootstrap/css/bootstrap.min.css'%} /> 
    <script type="text/javascript" src={% static "bootstrap/js/bootstrap.min.js" %}></script>
    <script type="text/javascript" src={% static "bootstrap/js/jquery-3.6.0.min.js"%}></script>
    
</head>
    <body >
        
        <marquee>DESKTOP RECORDS</marquee>
        <!--Usar input para que se sepa que boton se esta presionando, (NOTA: no usar etiqueta button)-->
        
        <form method= "POST" >
            {% csrf_token %}
            <div id="headerEmpleados">
                <ul class="nav">
                    <li><input type="submit" name="ver" value="Ver empleados"></li>
                    <li><input type="submit" name="buscar" value="Buscar">
                        <ul>     
                            <li><input type="submit" name="nombre" value="Nombre"></li>
                            <li><input type="submit" name="departamento" value="Departamento"></li>
                            <li><input type="submit" name="sueldo" value="Sueldo"></li>
                        </ul>
                    </li>
                    <li><input type="submit" name="" value="Agregar"></li>
                    <li><input type="submit" name="modificar" value="Modificar"></li>
                    <li><input type="submit" name="eliminar" value="Eliminar"></li>
                    <li><input type="submit" name="reporteEmpleados" value="Reporte empleados"></li>
                    <li id="home">
                        <a href="http://localhost:8000/">
                            <input type="button" name="" value="Home">
                        </a>
                    </li>
                </ul>
            </div>
            

            <div id="datos">
                <h3>Empleados</h3>
                <textarea>
        
                    {% for departamento in data.empresa.departamento%}
                        Departamento: {{departamento.departamento}}
                        {% for empleado in departamento.empleado %} 
                            id: {{ empleado.id }} 
                            Nombre: {{ empleado.nombre }}
                            Puesto: {{empleado.puesto}}
                            Salario: {{empleado.salario}}
                        {% endfor %}
                    
                    {% endfor %}
                </textarea>
            </div>

            <div id="busqueda">
                <h3>Busqueda de empleados</h3>
                <input type="text" name="texto">

                <table>
                    <tr>
                        <th>Nombre</th>

                        <th>Puesto</th>

                        <th>Salario</th>

                        <th>Departamento</th>
                    </tr>

                        {% for departamento in datos.empresa.departamento %}
                            {% for empleado in departamento.empleado %} 
                                    
                                <tr>
                                            
                                    <td>{{empleado.nombre}}</td>

                                    <td>{{empleado.puesto}}</td>

                                    <td>{{empleado.salario}}</td>
                                            
                                    <td>{{departamento.departamento}}</td>
                                </tr>
                                    
                            {% endfor %}
                        {% endfor %}
                            
                </table>
            </div>

            <div id="eliminar">
                <h3>Eliminar Empleado</h3>
                <input type="text" name="elim" placeholder="Introduzca ID">
                <h3>Modificar Empleado</h3>
                
                <label>id</label>
                <div class="input-wrapper">
                    <input type="text" name="id" class="input">
                    <img  class="input-icon" src="{% static 'id.png' %}"  width="20" height="20">
                </div>
                
                <label>nombre</label>
                <div class="input-wrapper">
                    <input type="text" name="name" class="input">
                    <img  class="input-icon" src="{% static 'empleados.png' %}"  width="20" height="20">
                </div>
                
                <label>puesto</label>

                <div class="input-wrapper">
                    <input type="text" name="puesto" class="input">
                    <img  class="input-icon" src="{% static 'puesto.png' %}"  width="20" height="20">
                </div>
                <label>salario</label>
            
                <div class="input-wrapper">
                    <input type="text" name="salario" class="input">
                    <img  class="input-icon" src="{% static 'salario.png' %}"  width="20" height="20">
                </div>
            </div>

        </form>

    </body>
</html>