{% load static %}
<html>
<head>
    <title>Paises</title>
    <link rel="stylesheet" type="text/css" href={% static 'estilos.css'%} />
    <link rel="stylesheet" type="text/css" href={% static 'bootstrap/css/bootstrap.min.css'%} /> 
    <script type="text/javascript" src={% static "bootstrap/js/bootstrap.min.js" %}></script>
    <script type="text/javascript" src={% static "bootstrap/js/jquery-3.6.0.min.js"%}></script>
    
</head>
    <body >
        
        <marquee>DESKTOP RECORDS</marquee>

        <form method= "POST" >
            {% csrf_token %}
            <div id="header">
                <ul class="nav">
                    <li> 
                    
                        <input type="submit" name="ver" value="Ver Paises">
                                
                    </li>
                    <li><input type="submit" name="buscar" value="Buscar">
                        <ul>
                                
                            <li><input type="submit" name="moneda" value="Moneda"></li>
                            <li><input type="submit" name="idioma" value="Idioma"></li>
                            <li><input type="submit" name="continente" value="Continente"></li>
                        </ul>
                    </li>
                    
                    <li><input type="submit" name="reporte" value="Reporte paises"></li>
                    <li id="home">
                        <a href="http://localhost:8000/">
                            <input type="button" name="" value="Home">
                        </a>
                    </li>
                </ul>
            </div>

            <div id="datos">
                <h3>Paises</h3>
                <textarea>
        
                {% for continente in data.mundo.continente%}
                    Continente: {{continente.continente}}
                        
                    {% for paises in continente.pais %} 
                        Nombre: {{paises.nombre  }} 
                        Capital: {{paises.capital }}
                        Idioma: {{paises.idioma }}
                        Moneda: {{paises.moneda}}
                    {% endfor %}
                    
                {% endfor %}
                </textarea>
            </div>

            <div id="busqueda">
                <h3>Busqueda de paises</h3>
                <div class="input-wrapper">
                    <input type="text" name="paises" class="input" placeholder="Ingrese dato">
                    <img  class="input-icon" src="{% static 'pais.png' %}"  width="20" height="20">
                </div>
                

                <table>
                    <tr>
                        <th>Pais</th>
                        <th>Capital</th>
                        <th>Idioma</th>
                        <th>Continente</th>
                        
                    </tr>

                        {% for continente in datos.mundo.continente %}

                            {% for pais in continente.pais %} 
                                    
                                <tr>
                                            
                                    <td>{{pais.nombre}}</td>

                                    <td>{{pais.capital}}</td>

                                    <td>{{pais.idioma}}</td>
                                            
                                    <td>{{continente.continente}}</td>
                                </tr>
                                    
                            {% endfor %}
                        {% endfor %}
                            
                </table>
            </div>


        </form>

    </body>
</html>